:root {
	--kolor-pasku: #d5e1df;
	--kolor-wyboru: #e3eaa7;
	--kolor-tekstu: #b5e7a0;
	--kolor-fragmentu: #e3eaa7;
	--kolor-paska-zakladek: #c1946a;
	--kolor-dane: #d5e1df;
	--kolor-zakladek: #86af49;
	--kolor-hover: #4CAF50;
	--kolor-czcionki: black;
}
